<!DOCTYPE html>
<html lang="ru-ru">
    <head>
        <meta charset="UTF-8">
        <title>Блог Лёхи</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        {% for post in posts %}
            <div>
                <p>Опубликовано: {{ post.published_date }} </p>
                <h1><a href="">{{ post.title }}</a></h1>
                <h2>{{ post.text|linebreaksbr }}</h2>
            </div>
        {% endfor %}
    </body>
</html>